#background-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    height: 775px;
 }


.mainContent .heading{
    display: flex;

}
.mainContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
}


.heading{
    color:black;
   
}

.body-content{
    margin-left: -600px;
    margin-top: 150px;

}
.small-heading{
    font-size: 20px;
    font-weight: bold;
}